# Ignore Helm chart dependencies
**/charts/

# Ignore packaged chart archives
*.tgz

# Ignore Helm-specific cache and lock files
Chart.lock


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
